* {
	box-sizing: border-box;
}

body {
	background-color: #efefef;
	color: #333;
	line-height: 1.5;
    letter-spacing: 0.1em;
    
}
.container {
    max-width: 600px;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0.5em;
	margin-bottom: 0.75em;
}
.card {
	padding: 0.375rem 0.75rem
};